<div style="width: 100%;">
    <mat-drawer-container class="example-container">
        <mat-drawer #drawer1 class="example-sidenav1" mode="side" opened="true">
            <h1>Hi, {{name}}</h1>
            <label>Highest: </label> <span> {{highestScore}}</span>
            <div class="settings">
                <mat-form-field style=" width: 100%;">
                    <div>
                        <label>Settings</label>
                        <mat-select style="margin-top: 10px;" [(value)]="selectedSetting" [disabled]="players[0].ready">
                            <mat-option *ngFor="let setting of settings" [value]="setting">
                                {{setting}}
                            </mat-option>
                        </mat-select>
                    </div>
                </mat-form-field>
                <div style="padding-top: 20px;">
                    <label>Time (seconds)</label>
                    <mat-form-field style="width: 100%;">
                        <input matInput [(ngModel)]="setTime" style="margin-top: 10px;" type="tel" [disabled]="players[0].ready">
                    </mat-form-field>
                </div>
            </div>

            <label style="padding-top: 20px;">Players</label>
            <div class="players">
                <mat-list>
                    <mat-list-item *ngFor="let player of players" color="primary">
                        <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                            <span>{{player.name}}</span>
                            <mat-icon *ngIf="player.ready" style="color:green">check</mat-icon>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
                <br>
            </div>
            <button mat-flat-button [color]="readyButton === 'Ready' ? 'primary' : 'accent'" (click)="readyButton === 'Ready' ? readyPlayer() : unReadyPlayer()" style="width: 100%;">{{readyButton}}</button>
            <div style="position: absolute; bottom: 2%; width: 100%; padding-right: 16px; margin-left: -20px; padding-left: 16px;">
                <button mat-flat-button color="warn" (click)="quitGame()" style="width: 100%;">Quit</button>
                <div class="text-center" style="margin-top: 10px;">
                    Wee Copyright
                </div>
            </div>

        </mat-drawer>

        <div class="example-sidenav-content text-center">
            <div style="width: 100%; display: flex; justify-content: space-between; padding: 16px;">
                <button mat-flat-button color="warn" (click)="unReadyPlayer()">{{startGame && !didGuessWord ? 'Quit' : 'Back'}}</button>
                <button mat-flat-button color='accent' (click)="getHint($event)" [disabled]=" hints <=0 " *ngIf="startGame && !didGuessWord">Hints
                    ({{hints <= 0 ? 0 : hints}})</button>
                <button mat-flat-button style="background-color: #03DAC6;" (click)="skipWord($event)" *ngIf="startGame && !didGuessWord">Skip</button>
            </div>
            <div class="timer" *ngIf="startGame">
                <div class="jumbotron" style="width: 100%; padding: 10px; display: flex; justify-content: space-around; align-content: center; margin-bottom: 20px;">
                    <div style="display: inline-block;">
                        <label style="font-size: 18px;">{{timeLeft}}</label>
                        <p style="font-size: 14px;">{{'sec'}}</p>
                    </div>
                    <div style="display: inline-block;">
                        <label style="font-size: 18px;">{{score}}</label>
                        <p style="font-size: 14px;">{{'pts'}}</p>
                    </div>
                </div>

            </div>

            <div class="word" *ngIf="startGame">
                <div *ngIf="!didGuessWord">
                    <input class="guess-word" *ngFor="let w of wordArray; let idx=index;" [value]="w.show ? w.letter : ''" disabled [ngStyle]="{'border-color': gotWord == 0 ? 'none' : gotWord === 1 ? '#0F9D58': '#DB4437', 'border': '2px solid grey', 'border-radius': '7px', 'padding': '5px'}">
                </div>
                <div *ngIf="didGuessWord">
                    <input class="guess-word" *ngFor="let w of wordArray; let idx=index;" [value]="w.letter" [ngStyle]="{'border-color': gotWord == 0 ? 'none' : gotWord === 1 ? '#0F9D58': '#DB4437', 'border': '2px solid grey', 'border-radius': '7px', 'padding': '5px'}" disabled/>                    </div>
            </div>

            <div style="margin-top: 20px; margin-bottom: 20px; display: flex; justify-content: center; width: 100%; align-items: center;" *ngIf="startGame && !didGuessWord">
                <mat-progress-bar mode="determinate" [value]="simPercent" style="width: 50%;"></mat-progress-bar>
                <span style="padding-left: 10px;;">{{simPercent}} %</span>
            </div>

            <div style="width: 100%; padding-bottom: 20px;">
                <div style="width: 20%; display: inline-block;"><label>Previous</label></div>
                <div style="width: 75%; display: inline-block;"><span *ngFor="let word of inputWords " color="primary" [innerHTML]="word"></span></div>
            </div>

            <form type="submit">
                <input class="input-content" [(ngModel)]="inputWord" *ngIf="startGame && !didGuessWord" placeholder="Type a word here..." #wordInput id="wordInput" style="border: none; background-color: transparent; outline: none; text-align: center;flex-grow: 0.6; font-size: 16pt;"
                    [ngModelOptions]="{standalone: true}" (keydown.enter)="gotInput($event)">
                <!-- <button mat-flat-button color='primary' (click)="gotInput()" type="submit">Submit</button> -->
            </form>

        </div>
    </mat-drawer-container>
</div>